:root {
  --primary-color: #f4e041;
  --secondary-color: #00bdd3;
  --background-color: #f8f8f8;
  --text-color: #000000de;
  --text-white-color: #ffffffde;
  --error-color: #cb3d40;
  --bg-btn-color: var(--primary-color);
  --bg-btn-hover-color: #ffe302;
  --bg-btn-disable-color: #b4b4b4;
}
